{% extends 'base.html' %}

{% block content %}
<div class="p-8 lg:w-1/2 mx-auto">
  <div class="bg-white rounded-t-lg p-8">
    {% for message in get_flashed_messages(with_categories=True) %}

    <div class=" px-4 py-6 bg-white rounded-r-lg flex justify-between items-center w-full border border-l-transparent border-gray-200">
      <p class=" font-black text-xs text-center w-full
      {% if message[0] == 'success' %}
    text-green-600
    {% else %}
    text-red-600
    {% endif %}
    "> {{ message[1] }}</p>
    
    </div>
    {% endfor %}
<h2 class="text-3xl font-bold mb-4">Change Password</h2>
<form action="/change-password" method="POST">
  <div class="mb-4">
    <label for="current_password" class="block font-bold mb-2">Current Password:</label>
    <input type="password" id="current_password" name="current_password" required class="border border-gray-300 rounded px-4 py-2 w-full">
  </div>
  <div class="mb-4">
    <label for="new_password" class="block font-bold mb-2">New Password:</label>
    <input type="password" id="new_password" name="new_password" required class="border border-gray-300 rounded px-4 py-2 w-full">
  </div>
  <div class="mb-4">
    <label for="confirm_password" class="block font-bold mb-2">Confirm New Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required class="border border-gray-300 rounded px-4 py-2 w-full">
  </div>
  <button type="submit" class="block w-full py-2 px-4 text-sm uppercase rounded bg-red-500 hover:bg-red-600 text-white font-medium shadow-md hover:shadow-lg transition transform hover:-translate-y-0.5">
    Change Password</button>
</form>
</div>
</div>
{% endblock %}